.body {
  background: linear-gradient(to bottom left, #e738f5, #62d9df) no-repeat center
    center fixed;
}

h1 {
  color: white;
  text-align: center;
}

.card-title {
  font-size: 2rem;
}

#pbarTrump {
  width: 0%;
}

#pbarJoe {
  width: 0%;
}

.progress {
  margin-top: 20px;
}

.progress_bar {
  background-image: linear-gradient(
    to bottom left,
    rgb(250, 92, 92),
    rgb(243, 184, 74)
  );
  color: white;
}

@media (min-width: 1160px) {
  .trump-card {
    margin-left: 5rem;
  }

  .joe-card {
    margin-right: 5rem;
  }
}
