.body {
  background: linear-gradient(to bottom left, #e738f5, #62d9df);
}

h1 {
  color: white;
  text-align: center;
}

.card-title {
  font-size: 3rem;
}

.voting-btn {
  margin-top: 10px;
  background: linear-gradient(
    to bottom left,
    rgb(250, 92, 92),
    rgb(243, 184, 74)
  );
  padding: 8px 40px;
  border: none;
  color: white;
}

.progress {
  margin-top: 20px;
}

.progress_bar {
  background-image: linear-gradient(
    to bottom left,
    rgb(250, 92, 92),
    rgb(243, 184, 74)
  );
}

@media (max-width: 991px) {
  .trump-card {
    margin-bottom: 20px;
  }
}
