@import url("https://fonts.googleapis.com/css2?family=Noto+Sans:wght@700&family=Poppins:wght@400;500;600&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  margin: 0;
  padding: 0;
  background: linear-gradient(to bottom left, #e738f5, #62d9df);
  height: 100vh;
  overflow: hidden;
}

.center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 400px;
  background: white;
  border-radius: 10px;
  box-shadow: 10px 10px 15px rgba(0, 0, 0, 0.05);
}

.center h1 {
  text-align: center;
  padding: 20px 0;
}

.center {
  padding: 0 40px;
  box-sizing: border-box;
}

label {
  font-weight: 500;
}

.txt_field {
  position: relative;
  border-bottom: 2px solid #adadad;
  margin-bottom: 15px;
  margin-top: 5px;
}

.txt_field span {
  padding-left: 10px;
  background: none;
}

.txt_field span i {
  color: lightgrey;
}

.txt_field input {
  width: 90%;
  padding: 0 5px;
  height: 40px;
  font-size: 16px;
  border: none;
  background: none;
  outline: none;
  color: black;
}

.txt_field span::before {
  content: "";
  position: absolute;
  top: 40px;
  left: 0;
  width: 0%;
  height: 2px;
  background: #2691d9;
  transition: 0.5s;
}

.txt_field input:focus ~ label,
.txt_field input:valid ~ label {
  top: -5px;
  color: #2691d9;
}

.txt_field input:focus ~ span::before,
.txt_field input:valid ~ span::before {
  width: 100%;
}

.forgot {
  font-size: 14px;
  text-align: right;
}

.forgot a {
  outline: none;
  /* color: #2691d9; */
  color: black;
  text-decoration: none;
}

#loginBtn[type="submit"] {
  width: 100%;
  height: 45px;
  border: 1px solid;
  background: linear-gradient(to left, #e738f5, #62d9df);
  border-radius: 25px;
  font-size: 18px;
  color: #e9f4fb;
  font-weight: 700;
  cursor: pointer;
  outline: none;
  margin: 20px 0;
}

#loginBtn[type="submit"]:hover {
  transition: 1s;
  background: black;
}
